<div class="login-main layout-column layout-align-center-center">
  <div class="layout layout-align-center-center">
    <h1 data-test="title">
      Timo App
    </h1>
  </div>
  <div class="layout layout-align-center-center" data-test="verification">
    {{paper-icon "announcement"}} Please check your email and verify your account
  </div>
</div>