<div class="login-main layout-column layout-align-center-center">
  <div class="layout layout-align-center-center">
    <h1>Timo App</h1>
  </div>
  <div class="layout layout-align-center-center">
    {{paper-icon "announcement"}} Please check your email and verify your account
  </div>
</div>