<div class="flex-content public-main">
  <div class="flex-title">
    <h1 data-test="team-title">
      {{@model.name}}
    </h1>
  </div>
  {{#if this.sortedMembers.length}}
    <TimezoneList @timezones={{this.timezones}} @scheduleEvent={{this.scheduleEvent}} />
  {{else}}
    <div class="no-member" data-test="no-member">
      No members in this team
    </div>
  {{/if}}
</div>
