<label class="t-checkbox">
  <span class="t-checkbox__input">
    <input
      type="checkbox"
      name="checkbox"
      checked={{@checked}}
      {{on "click" @onChange}}
    >
    <span class="t-checkbox__control">
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
        <path fill='none' stroke='#747494' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /></svg>
    </span>
  </span>
  <span class="t-checkbox__label">{{@label}}</span>
</label>
