<div class="team-list {{if @selectedTeam "active"}}">
  <button
    class="team-list__button"
    {{on "click" @goToTeam}}
    type="button"
  >
    <span class="team-list__name">{{@team.name}}</span>
  </button>
</div>
