@import '../variables.scss';

.group-header {
  padding: 24px 32px;
  box-shadow: 0 2px 12px -6px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__details {
    color: $light-blue;
    font-weight: bold;
  }
}
