@import '../variables.scss';
@import "../media-query.scss";

.main-footer {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;

  &__demo {
    text-align: center;
    padding-top: 40px;

    a {
      text-decoration: none;
    }
  }

  &__built-by {
    text-align: right;
    padding-bottom: 10px;

    @include mobile {
      text-align: center;
      margin-top: 10px;
    }

    a {
      text-decoration: none;
      color: $green;
    }
  }
}
