@import '../variables.scss';

.sidenavbar {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  min-width: 215px;

  &__header {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    color: $ghost-white;
  }

  &__add-group {
    padding: 5px 20px !important;
    margin-right: 16px;
    font-size: 14px;
    line-height: 21px;
    width: 74px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
  }

  &__icon {
    margin-left: 30px;
    margin-top: 36.69px;
    margin-bottom: 75px;
    align-self: start;
  }

  &__content {
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.team-list {
  color: white;
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  transition: 0.3s;

  @media (hover: hover) {
    .delete-team-button {
      display: none;
    }
  }

  &:hover {
    .delete-team-button {
      border: none;
      color: white;
      background-color: inherit;
      display: block;
      outline: none;
    }
    background-color: #536895;
  }

  &__name {
    font-size: 14px;
    line-height: 21px;
    color: $white-grey;
    font-family: 'Poppins', sans-serif;
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 30px;
    margin: 0;
    font-weight: 400;
    text-align: left;
    border: none;
    background: inherit;
    color: white;
    outline: none;
  }

  &.active {
    background-color: #27488f;
    border-left: 4px $green solid;

    .team-list__button {
      padding-left: 26px;
    }

    .team-list__name {
      color: white;
    }
  }
}

.current-user-container {
  font-size: 15px;
  line-height: 23px;
  color: $ghost-white;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 36px;
}

.current-user-name {
  border: none;
  background: inherit;
  color: white;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.avatar {
  margin-right: 13px;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
