@import '../variables.scss';

.t-checkbox {
  cursor: pointer;
  margin-top: 8px;
  color: $grey;
  display: flex;
  width: fit-content;
}

.t-checkbox__control {
  display: inline-grid;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  border: 1px solid $grey;

  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
    margin: 3px;
  }
}

.t-checkbox__input {
  input {
    display: none;
    opacity: 0;

    &:checked + .t-checkbox__control svg {
      transform: scale(1);
    }
  }
}

.t-checkbox__label {
  font-size: 16px;
  color: $grey;
  margin-left: 10px;
}
