@import 'ember-paper';
@import './material-table.scss';

body, body > .ember-view, .login-main, .public-main {
  height: 100%;
}

.inner-sidenav {
  height: calc(100% - 64px);
}

.paper-right {
  margin-left: auto;
}

.side-title {
  background-color: paper-color(deep-orange, '400');
}

.side-container {
  width: 238px;
}

@media (max-width: 456px) {
  .side-container {
    min-width: calc(60%);
    max-width: calc(100% - 56px);
  }
  .inner-sidenav {
    height: calc(100% - 56px);
  }
}

@media (max-width: 959px) {
  .inner-sidenav {
    height: calc(100% - 48px);
  }
}

.side-container, .side-container > md-content {
  background-color: paper-color(deep-orange, '300');
}

.no-team {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.flex-content {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landing-image {
  height: 350px;
  width: 350px;
  align-self: center;
}

.flex-title, .no-member, .current-checkbox {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.flex-title {
  display: flex;
  height: fit-content;
}

.flex-title > h1, .list-team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

#memberName-input, #memberTimeZone-select {
  margin: 5px;
}

.member-content {
  max-width: 95%;
  margin-bottom: 1.5rem;
  align-self: center;
}

.cell-text-align {
  justify-content: center;
}

.box-shadow-z8-on-white {
  background: #fff;
  box-shadow:
    0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);
}

.box-shadow-z8 {
  box-shadow:
    0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);
}

$cell-hue: 'A100';

.cell-color-green {
  background: paper-color('green', $cell-hue);
}

.cell-color-yellow {
  background: paper-color('yellow', $cell-hue);
}

.cell-color-red {
  background: paper-color('red', $cell-hue);
}

$row-filter: brightness(70%);

.row-past-time {
  filter: $row-filter;
}

.row-current-time > td {
  -webkit-box-shadow:
    inset 0px -3px 0px 0px black,
    inset 0px 3px 0px 0px black;
  -moz-box-shadow:
    inset 0px -3px 0px 0px black,
    inset 0px 3px 0px 0px black;
  box-shadow:
    inset 0px -3px 0px 0px black,
    inset 0px 3px 0px 0px black;
}

.box-shadow-top-inset {
  -webkit-box-shadow: inset 0px 5px 5px -5px black;
  -moz-box-shadow: inset 0px 5px 5px -5px black;
  box-shadow: inset 0px 5px 5px -5px black;
}

.current-col-cell {
  background: paper-color('orange', '100');
}

$input-error-font-size: 12px !default;
$input-error-height: 24px !default;
$input-error-line-height: $input-error-font-size + 2px !default;
$error-padding: ($input-error-height - $input-error-line-height) / 2 !default;

.paper-input-error {
  font-size: $input-error-font-size;
  padding-top: $error-padding;
}

.pointer-cursor {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.sign-link {
  margin-top: 10px;
}

.response-error {
  color: RGB(var(--warn-A700));
  padding-bottom: $error-padding;
}

.share-icon {
  margin-left: auto;
  margin-top: 21px;
}

.public-share-item {
  margin: 6px 8px;
}

.team-list-item {
  display: flex;
  align-items: center;
  @media (hover: hover) {
    .delete-team-button {
      display: none;
    }
  }
  &:hover {
    .delete-team-button {
      display: block;
    }
  }
}

.list-team-name {
  flex-grow: 1;
}

.team-name-span {
  width: 206px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-list-button {
  & button {
    background-color: rgba(paper-color($background, "500"), 0.2);
    background-color: RGBA(var(--background-500), 0.2);
  }
}