@import 'ember-paper';
@import "ember-power-select";
@import './variables.scss';
@import './components/timezone-list.scss';
@import './components/group-header.scss';
@import './components/sidenavbar.scss';
@import './components/t-input.scss';
@import './components/t-modal.scss';
@import './components/email-verification.scss';
@import './components/add-member-modal.scss';
@import './components/share-link.scss';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.ember-application, .login-main, .public-main {
  height: 100%;
}

.landing {
  height: 100%;
  display: flex;
}

.flex-content {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.side-content {
  width: calc(100% - 215px);
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landing-image {
  height: 350px;
  width: 350px;
  align-self: center;
}

.flex-title, .no-member, .side-checkbox {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.flex-title {
  display: flex;
  height: fit-content;
}

.pointer-cursor {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.sign-link {
  margin-top: 10px;
}

.share-icon {
  margin-left: auto;
  margin-top: 21px;
}

.t-button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 9px 20px;
  border-radius: 40px;
  outline: none;
  background-color: $dark-blue;

  &.red {
    background-color: $red;
  }

  &.blue {
    background-color: $blue;
  }

  &.green {
    background-color: $green;
  }

  &.dark-blue {
    background-color: $dark-blue;
  }
}

.login-page, .sign-up-page {
  min-height: calc(100% - 7px);
  background: #F0F0F7;
  display: flex;
  border-bottom: 7px solid #CED4EA;

  @media (max-width: 1179px) {
    border-bottom: none;
    height: 100%;
  }

  &__form-container {
    align-items: center;
    background: white;
    width: 50%;
    padding: 80px 110px 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 1179px) {
      width: 100%;
    }

    @media (min-width: 1720px) {
      padding-top: 160px;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1179px) {
      display: none;
    }
  }

  &__title {
    font-size: 33px;
    text-align: center;
    letter-spacing: 0px;
    color: $dark-blue;
    opacity: 0.61;
    font-weight: bold;
    padding: 60px 125px 0;
    margin: 0;

    @media (min-width: 1720px) {
      padding-top: 120px;
    }
  }

  &__login-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $dark-blue;
    margin-top: 26px;
  }

  &__login-description {
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: $dark-blue;
    margin-bottom: 64px;
  }

  &__log-in-button {
    margin-left: auto;
    margin-right: auto;
    padding: 9px 75px;
  }

  &__input {
    width: 100%;
    margin-bottom: 45px;
  }

  &__sign-up-label {
    font-size: 14px;
    color: $green;
    margin-top: 13px;
    text-decoration: none;
  }

  &__image {
    width: 578px;
    height: 411px;
    min-width: 378px;
    min-height: 211px;

    @media (min-width: 1520px) {
      width: 778px;
      height: 611px;
      min-width: 578px;
      min-height: 411px;
    }
  }

  &__log-in-actions {
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.response-error {
  top: -20px;
  position: absolute;
  color: RGB(var(--warn-A700));
  font-size: 12px;
}

.ember-modal-overlay.translucent {
  background-color: rgba(black, .64);
}

.avatar {
  border-radius: 50%;
  background-color: $green;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

