@import 'ember-paper';

body, body > .ember-view, .login-main {
  height: 100%;
}

.inner-sidenav {
  height: calc(100% - 64px);
}

.paper-right {
  margin-left: auto;
}

.side-title {
  background-color: paper-color(deep-orange);
}

.side-container {
  width: fit-content;
}

.side-container, .side-content {
  background-color: paper-color(deep-orange, '400');
}

.flex-content {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landing-image {
  height: 350px;
  width: 350px;
  align-self: center;
}

.flex-title {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-self: flex-start;
}