<div class="no-team">
  <img src="/images/emptyview.svg" data-test="landing-image" alt="no team">
  <span class="no-team__label">Hi, there,<br> You don’t have any teams yet!</span>
  <TButton
    @color="blue"
    @testSelector="create-team"
    @action={{this.openTeamModal}}
    @label="Create a team now!"
  />
</div>
{{#if this.showNewTeamModal}}
  <Modals::Team::Add
    @closeModal={{this.closeNewTeamModal}}
    @saveTeam={{this.saveTeam}}
  />
{{/if}}
