<div class="main-footer">
  <div>
    Built by <a href="https://www.mimiquate.com/" class="main-footer__built-by">mimiquate, inc.</a>
  </div>
  <div>
    <LinkTo
      @route="public.team.team-url"
      @model={{this.demoShareId}}
      @class="main-footer__demo"
      data-test-footer="demo"
    >
      Click here to see a public demo!
    </LinkTo>
  </div>
</div>