<div class="main-footer">
  <div class="main-footer__demo">
    <LinkTo
      @route="public.team.team-url"
      @model={{this.demoShareId}}
      data-test-footer="demo"
    >
      <button type="button" class="t-button blue">Check example team</button>
    </LinkTo>
  </div>
  <div class="main-footer__built-by">
    Built by <a href="https://www.mimiquate.com/">mimiquate</a>
  </div>
</div>